.popup {
  &__content {
    background-color: #efefef;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
  &__input {
    margin-bottom: 15px;
    input {
      padding: 10px;
      width: 100%;
      font-size: 18px;
      border-radius: 5px;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-around;
  }
}
