.container {
  //max-width: 1670px;
  //margin: 0 auto;
  //padding: 0 15px;
}

.header {
  padding: 10px;
  height: 20vh;
  width: 100%;
}

.main {
  border: 1px solid #000;
  height: 75vh;
  width: 98%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}

//.folders {
//  display: flex;
//  padding: 10px;
//}
//
//.folder {
//  margin-right: 30px;
//  margin-bottom: 20px;
//
//  &__img {
//    width: 60px;
//    height: 60px;
//    margin-bottom: 5px;
//  }
//
//  &__text {
//    font-size: 18px;
//    text-align: center;
//  }
//}


